@layer all;
@layer base;
@layer theme;
@layer components;
@layer utilities;

@import 'tailwindcss/preflight' layer(base);
@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/utilities' layer(utilities);

/* Handy link to the default Tailwind theme:
/* https://github.com/tailwindlabs/tailwindcss/blob/next/packages/tailwindcss/theme.css */

@theme {
  --color-content: white;
  --color-background: var(--color-gray-50);
  --color-foreground: var(--color-gray-900);

  /* Typography */
  --font-sans: system-ui, sans-serif;

  --ease-out-fast: cubic-bezier(0.45, 1.005, 0, 1.005);
  --ease-in-slow: cubic-bezier(0.375, 0.015, 0.545, 0.455);
  --header-height: 3rem;
}

:root {
  @media (prefers-color-scheme: dark) {
    --color-gray-50: oklch(17% 0.25% 264deg);
    --color-gray-75: oklch(19% 0.5% 264deg);
    --color-gray-100: oklch(28% 0.75% 264deg / 65%);
    --color-gray-200: oklch(29% 0.75% 264deg / 80%);
    --color-gray-300: oklch(35% 0.75% 264deg / 80%);
    --color-gray-400: oklch(47% 0.875% 264deg / 80%);
    --color-gray-500: oklch(64% 1% 264deg / 80%);
    --color-gray-600: oklch(82% 1% 264deg / 80%);
    --color-gray-700: oklch(92% 1.125% 264deg / 80%);
    --color-gray-800: oklch(93% 0.875% 264deg / 85%);
    --color-gray-900: oklch(95% 0.5% 264deg / 90%);
    --color-gray-950: oklch(94% 0.375% 264deg / 95%);

    --color-content: black;
    --color-background: black;
    --color-foreground: oklch(90% 2% 264deg);
  }
}

body,
html {
  background-color: var(--color-content);
  color-scheme: dark light;
}

body {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: clip;
  color: var(--color-foreground);
  word-break: break-word;
}
